<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Force correct MIME types for Render -->
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
            
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
            
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
            
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml; charset=utf-8" />
            
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
            
            <remove fileExtension=".html" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
        </staticContent>
        
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
            </customHeaders>
        </httpProtocol>
        
        <rewrite>
            <rules>
                <!-- Decode URL encoded characters -->
                <rule name="Decode %2540 to @" stopProcessing="false">
                    <match url="^(.*)%2540(.*)$" />
                    <action type="Redirect" url="{R:1}@{R:2}" redirectType="Permanent" />
                </rule>
                
                <rule name="Decode %253D to =" stopProcessing="false">
                    <match url="^(.*)%253D(.*)$" />
                    <action type="Redirect" url="{R:1}={R:2}" redirectType="Permanent" />
                </rule>
                
                <rule name="Decode %40 to @" stopProcessing="false">
                    <match url="^(.*)%40(.*)$" />
                    <action type="Redirect" url="{R:1}@{R:2}" redirectType="Permanent" />
                </rule>
                
                <rule name="Decode %3D to =" stopProcessing="false">
                    <match url="^(.*)%3D(.*)$" />
                    <action type="Redirect" url="{R:1}={R:2}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
